@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: poppins;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
 
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

@keyframes customBounce {
  0%, 100% {
    transform: translateY(0); /* Start and end at the normal position */
  }
  50% {
    transform: translateY(-10px); /* Set the bounce height to a smaller value */
  }
}

.custom-bounce {
  animation: customBounce 1s ease-in-out infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll linear infinite;
}

